@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root{
    --azul-escuro: #022b3aff;
    --azul: #1f7a8cff;
    --azul-claro: #bfdbf7ff;
    --branco-escurinho: #e1e5f2ff;
    --branco: #ffffffff;
    --fonte-titulo:"Playfair Display", serif;
    --fonte-texto: "Montserrat", sans-serif;
}

body{
    background-color: var(--azul-escuro);
    color: var(--azul-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

.caixa-principal {
    background-color: var(--azul);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.titulo{
    color: var(--azul-escuro);
    font-family: var(--fonte-titulo);
}
button{
    background-color: var(--azul-escuro);
    color: var(--azul-claro);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: 0.4s;
    margin: 10px 4px;
}

button:hover{
    background-color: var(--branco);
}